{%extends 'base.html'%}

{%load static%}

{%block content%}
  {%for post in posts%}
<div class="card" style="width: 18rem;">
  {% if post.image%}
    <img class="card-img-top" src="{{post.image.url}}" >
    {%else%}
      <img src="{% static 'placeholder.jpeg' %}">
        {%endif%}
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <p class="card-text">{{post.rate}}</p>
      <p class="card-text">{{post.category}}</p>
       {% for tag in post.tags.all %}
      <a href="#" class="btn btn-secondary">{{tag.name}}</a>
      {%endfor%}
      <a href="/posts/{{post.id}}/" class="btn btn-primary">Go to post</a>
    </div>
  </div>
  {%endfor%}
{%endblock%}
